@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('style/link.css');
@import url('style/channel.css');

:root {
  --font: 'Roboto Mono', monospace;
  --background: rgb(255, 255, 255);
  --hoverbackground: rgb(144, 144, 145);
  --color: #232333;
}

*,
:after,
:before,
:visited {
  box-sizing: inherit;
  text-decoration: none;
  color: var(--color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.2rem;
}

* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: var(--color);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;

}

.container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.userName {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.25;
  display: block;
  color: var(--color);
}

@media (prefers-color-scheme: dark) {

  :root {
    --background: #202124;
    --hoverbackground: #383838;
    --color: white;
  }

}